## House Rocket Exercise

Usando o caso fictÃ­cio da HouseRocket para exercitar minhas habilidades em CiÃªncia & AnÃ¡lise de Dados.

Using the HouseRocket fictitious case to exercise my Data Science & Analysis skills.

ðŸ‡§ðŸ‡·ðŸ‡µðŸ‡¹
Perguntas a serem respondidas:
1) Quantas casas tem 1 quarto?
2) Quantas casas de mais de um andar?
3) Quantas casas estÃ£o em boas ou mÃ¡s condiÃ§Ãµes?
4) Quantos quartos, em mÃ©dia, as casas possuem?
5) Qual o preÃ§o mÃ©dio das casas?
6) Qual o desvio padrÃ£o dos preÃ§os?
7) Existem casas com preÃ§os outliers? (apresentar id e zipcode)
8) Quais sÃ£o os 1Q e 3Q dos preÃ§os?
9) Quais as dez casas mais antigas a venda e seus respectivos anos de construÃ§Ã£o? (apresentar id e zipcode)
10) Qual o valor mÃ©dio das 10 casas mais novas Ã  venda?
11) Qual o valor mÃ©dio das 10 casas mais antigas Ã  venda?
12) Qual as 10 casas com as melhores vistas? (apresentar id e zipcode)
----------------------------------------------------

ðŸ‡¬ðŸ‡§ðŸ‡ºðŸ‡¸
Questions to be answered:
1) How many houses has 1 bedroom?
2) How many houses has more than one floor?
3) How many houses are in good or bad condition?
4) How many rooms, on average, do the houses have?
5) What is the average price of houses?
6) What is the standard deviation of prices?
7) Are there houses with outliers prices? (show id and zipcode)
8) What are the 1Q and 3Q prices?
9) What are the ten oldest houses for sale and their respective years of construction? (show id and zipcode)
10) What is the average value of the 10 newest houses for sale?
11) What is the average value of the 10 oldest houses for sale?
12) What are the 10 houses with the best views? (show and zipcode)
----------------------------

## 0. Importar pacotes

In [2]:
import pandas as pd
import seaborn as sns

## 1. Dados

In [4]:
#importando o dataframe
df = pd.read_csv('house_data.csv')

Empty DataFrame
Columns: [id, date, price, bedrooms, bathrooms, sqft_living, sqft_lot, floors, waterfront, view, condition, grade, sqft_above, sqft_basement, yr_built, yr_renovated, zipcode, lat, long, sqft_living15, sqft_lot15]
Index: []

[0 rows x 21 columns]

# Testes usando Seaborn